[submodule "roles/ansible-java"]
	path = roles/ansible-java
	url = https://cmorgia@github.com/cmorgia/ansible-java.git
[submodule "roles/ansible-weblogic"]
	path = roles/ansible-weblogic
	url = https://cmorgia@github.com/cmorgia/ansible-weblogic.git
[submodule "roles/ansible-osb"]
	path = roles/ansible-osb
	url = https://cmorgia@github.com/cmorgia/ansible-osb.git
[submodule "roles/ansible-oac"]
	path = roles/ansible-oac
	url = https://github.com/cmorgia/ansible-oac.git
